<% if @admin %>
	<input type="hidden" id="admin" />
<% end %>

<div id="container" style="width: 800px; height: 600px;">
	<div id="slideshow" data-poll-url="/slideshow/current_slide">
		<% @images.each do |i| %>
			<%= image_tag i %>
		<% end %>
	</div>
</div>